@media (min-width: 700px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
        padding: 1rem;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #menu {
        display: none;
    }

    .menu {
        display: flex;
        position: static;
        flex-direction: row;
        width: auto;
    }

    .menu a {
        padding: 0.5rem 1rem;
    }

    #temple-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        padding: 1.5rem 0;
    }
}