.wf1 fieldset {
    margin: 2rem 0;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: .5rem 2%;
}

.wf1 legend {
    color: #445ba9;
    padding: 0 .5rem;;
}

.wf1 label {
    display: block;
    padding-top: 1rem;
}